html {
    font-size: 16px;
}

body {
    display: grid;
}

/* Hardware Control */

#hardware-container {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
}

#shutdown-pi-button {
    grid-column: 1 / 2;
}

#reboot-pi-button {
    grid-column: 2 / 3;
}

#power-display-button {
    grid-column: 3 / 4;
}

#shutdown-display-button {
    grid-column: 4 / 5;
}

/* Time Schedule */

#time-container {
    display: grid;
    grid-template: repeat(8, 2rem) / 9rem repeat(3, 11.5rem);
}

.time-header-row {
    grid-row: 1 / 2;
}

.sunday-time-row {
    grid-row: 2 / 3;
}

.monday-time-row {
    grid-row: 3 / 4;
}

.tuesday-time-row {
    grid-row: 4 / 5;
}

.wednesday-time-row {
    grid-row: 5 / 6;
}

.thursday-time-row {
    grid-row: 6 / 7;
}

.friday-time-row {
    grid-row: 7 / 8;
}

.saturday-time-row {
    grid-row: 8 / 9;
}

.time-label {
    grid-column: 1 / 2;
}

.start-time {
    grid-column: 2 / 3;
}

.switch-time {
    grid-column: 3 / 4;
}

.end-time {
    grid-column: 4 / 5;
}

/* Link Text */

#link-text-container {
    display: grid;
    grid-template: repeat(8, 2rem) / 9rem repeat(2, 11.5rem); 
}

.link-header-row {
    grid-row: 1 / 2;
}

.sunday-link-row {
    grid-row: 2 / 3;
}

.monday-link-row {
    grid-row: 3 / 4;
}

.tuesday-link-row {
    grid-row: 4 / 5;
}

.wednesday-link-row {
    grid-row: 5 / 6;
}

.thursday-link-row {
    grid-row: 6 / 7;
}

.friday-link-row {
    grid-row: 7 / 8;
}

.saturday-link-row {
    grid-row: 8 / 9;
}

.link-label {
    grid-column: 1 / 2;
}

.start-text {
    grid-column: 2 / 3;
}

.switch-text {
    grid-column: 3 / 4;
}

#submit-container {
    display: grid;
    grid-template: 2rem / 9rem 27rem repeat(2, 3.75rem);
}

#cancel-button {
    grid-area: 1 / 3 / 2 / 4;
}

#submit-button {
    grid-area: 1 / 4 / 2 / 5;
}